# Go
/auth/keys/
/worker/data/
*.sqlite
*.sqlite-journal

# Node
node_modules/
web/dist/
web/.env
web/.env.local

# Env
.env
.env.local
.env.prod
.env.*.local

# OS
.DS_Store

# Herramientas locales
.serena/
